.account{
    margin: 0 auto;
    width: 990px;
    height: 500px;
    border: 1px solid transparent;
}
.account h1{
    color: #750a20;
}

.account_info{
    width: 990px;
    height: 200px;
    border: 1px solid silver;
}

.account_img{
    margin-top: 20px;
    margin-left: 20px;
    width: 160px;
    height: 160px;
    float: left;
    background-color: aqua;
}
#user_img{

    width: 160px ;
    height: 160px;
    border: 1px solid silver;
    float: left;
}
#edit_pic{
    margin-top: -30px;
    float: right;
    width: 30px;
    height: 30px;
    background-color: ghostwhite;
    visibility: hidden;
}
#user_name{
    text-underline-position: below;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}
.account_basic_info{
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    width: 700px;
    height: 150px;
    text-align: left;
    float: left;
    border: 1px solid silver;
}
.account_basic_info p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Microsoft YaHei";
}

#edit_info{
    float: right;
    margin: 0 -15px 0 0;
    width: 30px;
    height: 30px;
    background-color: ghostwhite;
    visibility: hidden;
}

.account_label{

    width: 700px;
    height: 40px;
    color: grey;

}
.account_label span{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}
#personal_label {
    font-family: Trebuchet MS;
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
}
.account_attr{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 990px;
    border: 1px solid silver;
    height: 200px;
}
.account_attr ul{
    margin-top: 2px;
    margin-left: -40px;
    list-style-type: none;
}

.user_section{
    padding-top: 10px;
    width: 194px;
    height: 40px;
    margin-left: 3px;
    float: left;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background-color: #EEEEEE;
}
.detail_attr{
    width: 985px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    text-align: left;
}
#dongtai{
    display: block;
}
#yinyue{
    display: none;
}
#guanxi{
    display: none;
}
#shoucang{
    display: none;
}
#gengduo{
    display: none;
}

#div1 {
    display: none;
    position: absolute;
    z-index: 9999999;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    background: grey;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    overflow-y: hidden;
}
#div2 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    z-index: 9999999;
    left: 0;
    top: 0;
}
#div3 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    z-index: 9999999;
    left: 0;
    top: 0;
}